<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id; ){
    <li>
      <app-user
        [id]="user.id"
        [avatar]="user.avatar"
        [name]="user.name"
        (select)="onSelectUser($event)"
        [userObj]="user"
      />
    </li>
    }
    <!-- <li>
      <app-user
        [id]="users[2].id"
        [avatar]="users[2].avatar"
        [name]="users[2].name"
        (select)="onSelectUser($event)"
        [userObj]="users[3]"
      />
    </li> -->
  </ul>

  @if (selectedUserId) {
  <app-tasks [name]="selectedUser.name" />
  }
</main>

<!-- ese trabajo no me va a caer del cielo -->
